// Menu
.menu__wrapper{
    display: flex;
    justify-content: space-between;
}
#header_menu {
    padding: 22px 22px;
    width: 100%;
    // background: var(--second-color);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#header_menu .logo-page {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
#header_menu >ul {
    width: 75% ;
    float: left;
}
#header_menu #menu > li {
    position: relative;
    float: left;
    padding: 10px 10px;
    height: 41px;
    // margin: 0 13px;
    // border-bottom: .5px solid rgb(212, 180, 180);
}
#header_menu #menu > p{
    margin:20px 10px;
}
.info-contact {
    color: #807777;
}
#header_menu #menu > li a {
    color: #807777;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#header_menu #menu > li:hover {
    border-bottom: 2px solid var(--main-color);
}
#menu-btn{
	font-size: 2.8rem;
	cursor: pointer;
	color:var(--text-color);
	display: none;
    position: relative;
    
 }
#menu-btn.fa-bars:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header .contact{
    display: flex;
    position: relative;
    a,p{       
        margin: auto 10px;
    }
}
#btnRegBuyNow{
    cursor: pointer;
}
#header.scroll #header_menu{
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    .logo-page img{
        scale: (0.8);
    }
    .info-contact {
        color: black;
    }
    li a {
        color: #807777;
    }
    #menu-btn.fa-bars:before{
        color: var(--text-color);
    }
    
}
.switch-language{
    padding: 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(32, 34, 35, 0.05);
    border-radius: 8px;
    margin: auto;
    button{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #C6CACF;
        padding: 6px 12px;
        background: #fff;
    }
    button.active{
        background: #BE1512;
        border-radius: 4px;
        color: #FDFDFD;
    }
}