#partner {
    // padding: 3.5rem;

    h3{
        font-size: 2.4rem;
        text-align: left;
        margin: 3rem 0;
        font-weight: 600;
        line-height: 3.6rem;
    }
    max-width: 90vw;
    #partner_slide{
        border-radius: 20px;
        background: var(--second-color);
        padding: 20px;    
    }
    .item {
        outline: none;
        background: var(--white);
        border-radius: 20px;
        margin: 0 20px;
        max-height: 57px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height: 45px;
            object-fit: cover;
        }
    }
    .slide-arrow{
        position: absolute;
        top: 50%;
        margin-top: -15px;
      }
    .prev-arrow{
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    }
    .next-arrow{
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    }
}